[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/ajevans85/scala-for-emacs
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
